@import '../../styles/settings.scss';

.cardForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;



    button {
        margin: calc($base-size / 2);
    }

    > * {
        text-align: center;
        padding: 10px;
    }
}

