@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 calc($base-size / 2 ) $base-size calc($base-size / 2);
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    
    button {
        border: none;
        background-color: transparent;
        color: $color-dark;
        cursor: pointer;
    }

    .cardFavorite i {
        color: $color-warning;
    }
}


